<h1>Home</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <button type="submit" class="btn btn-primary">Subir archivo</button>
</form>
<h1>@ViewBag.Mensaje</h1>